<h1>Twig ok</h1>

{% block menu %}
    <h2>Block Menu index</h2>
    <a href="index.php">Index</a>
    <br>
    <a href="index.php?page=page1">Page 1</a>
{% endblock %}


{% block page %}
    <p>Contenu page index</p>
{% endblock %}
